body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.status {
  margin-bottom: 10px;
  font-style: italic;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-info {
  margin-left: 20px;
}

.game-info button.selected{
  font-weight: bold;
}

.game-main {
  display: flex;
  flex-direction: row;
}

.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  cursor: pointer;
}
        
.new-game button {
  width: 100%;
  padding: 1rem;
  border-radius: 4px;
  color: white;
  background-color: #08aeea;
  text-transform: uppercase;
  border: none;
  margin: 50px;
}

.new-game button:hover {
  background-color: #078fc0;
}